<h1>Inventory</h1>
<%= link_to 'return to landing page', root_path%><br>

<p><%= link_to "add product", new_product_path %></p>
<h3>Most recently added beers:</h3>
  <ul>
    <% @most_recent.each do |product| %>
      <li><%= product.name %></li>
    <% end %>
  </ul>

  <h3>Most reviewed beer:</h3> 

  <p> <%= @most_reviewed %><p>
<h3>Beers currently available: </h3>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products in invetory.</p>
<% end %>


